# HTTP
HTTP_PORT=8080
# PG
PG_POOL_MAX=10
PG_URL=postgres://user:sUp3RP4sSw0rD@db:5432/event_booker_db?sslmode=disable
# Logger
LOG_LEVEL=debug
# SMTP
SMTP_USERNAME=user@gmail.com
SMTP_PASSWORD="xxxx xxxx xxxx xxxx"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587